<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gabriel.gagnier.calculatricetemporel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AddActivity">
            <intent-filter>
                <action android:name="com.gabriel.gagnier.calculatricetemporel.ADD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
        <activity android:name=".SaveEventFragment">
            <intent-filter>
                <action android:name="com.gabriel.gagnier.calculatricetemporel.SAVE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        -->
        <activity android:name=".activity.DeltaActivity">
            <intent-filter>
                <action android:name="com.gabriel.gagnier.calculatricetemporel.DELTA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings">
            <intent-filter>
                <action android:name="com.gabriel.gagnier.calculatricetemporel.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".util.notification.NotificationPublisher"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <service
            android:name=".services.notification.SendNotificationService"
            android:exported="false"/>
        <service
            android:name=".services.notification.CancelNotificationService"
            android:exported="false"/>
    </application>

</manifest>